{% extends 'base_admin.html' %}
{% block conteudo %}
<h2 class="pt-3 text-center">Pagamento de Mensalidade</h2>
<hr>

<div>
    {% for lista in query_Men_Ass_Pag %}
    <form action="{{url_for('page_pagamento_form_admin', id = lista[2])}}" method='POST' class="form-control">
        <div class="mb-3">
            <label class="fw-bold px-10">Associado:</label>
            <input type="text" class="p-2 form-control" name="nome_associado" placeholder="" value="{{lista[1]}}" disabled>
        </div>
        <div class="mb-3">
            <label class="fw-bold px-10">Data vencimento:</label>
            <input type="date" class="p-2 form-control" value="{{lista.data_vencimento}}" disabled>
        </div>
        <div class="mb-3">
            <label class="fw-bold px-10">Valor da Mensalidade:</label>
            <input type="text" class="p-2 form-control"  value="{{lista.valor_mensalidade}}0" disabled>
        </div>
        <div class="mb-3">
            <label class="fw-bold px-10">Data de Pagamento:</label>
            <input type="date" class="p-2 form-control" name="data_pagamento" placeholder="x" value="{{date_today}}">
        </div>
        <label class="fw-bold px-10">Valor de Pagamento:</label>
        <div class="input-group mb-3">
            <span class="input-group-text">R$</span>
            <input type="text" id="money" class="p-2 form-control" name="valor_pagamento" placeholder="0000" required>
            <span class="input-group-text">.00</span>
        </div>
        <div class="mb-3">
            <label class="fw-bold">Status:</label>
            <select name="status_pagamento" class="form-select">
                {% for lista_status_pagamento in query_status_pagamento %}
                    <option value="{{lista_status_pagamento.id}}">{{lista_status_pagamento.status}}</option>
                {% endfor %}
            </select>
        </div>
        

        <div class="mb-3">
            <button class="btn btn-success">
                <i class="bi bi-save"> 
                    <b>Salvar</b>
                </i> 
            </button>
        </div>
    </form>
    {% endfor %}
</div>


{% endblock conteudo %}

