{% extends 'base.html' %}
{% block conteudo %}
<h2 class="pt-3 text-center">Lista de Mensalidade</h2>
<hr>

<table class="table table-bordered table-hover">
    <thead class="table-secondary">
        <tr class="text-center">
            <th>Nome do Associado</th>
            <th>Tipo Mensalidade</th>
            <th>Data de Vencimento</th>
            <th>Valor da Mensalidade</th>
            <th>Data de Pagamento</th>
            <th>Valor de Pagamento</th>
            <th>Status de Pagamento</th>
            <th>Ações</th>
        </tr>
    </thead>
    {% for lista in lista_mensalidades_associado %}
        <tbody class="table-hover">
            <tr>
                <td>{{lista[1]}}</td>
                {% if lista.ehMensal %}
                    <th class="text-center">
                        <h5>
                            <span class="badge text-bg-primary">Mensal</span> 
                        </h5>
                    </th>
                {% else %}
                    <th class="text-center">
                        <h5>
                            <span class="badge text-bg-secondary">Anual</span>
                        </h5>
                    </th>
                {% endif %}
                
                <td class="text-center">
                    {{lista.data_vencimento.strftime('%d/%m/%Y')}}
                </td>

                <td class="text-center">
                    R$ {{"%.2f" % lista.valor_mensalidade}}
                </td>
                <td class="text-center">
                    {{"" if lista.data_pagamento == None else lista.data_pagamento.strftime('%d/%m/%Y')}}
                </td>
                <td class="text-center">
                    {{"" if lista.valor_pagamento == None else "R$ %.2f" % lista.valor_pagamento }}
                </td>    
                <td class="text-center">
                    {% if lista.id_status_pagamento == 1 %}
                        <h5>
                            <span class="badge text-bg-success">{{lista.status}}</span>
                        </h5>
                    {% elif lista.id_status_pagamento == 2 %}
                        <h5>
                            <span class="badge text-bg-danger">{{lista.status}}</span>
                        </h5>
                    {% else %}
                        <h5>
                            <span class="badge text-bg-danger">Não Pago</span>
                        </h5>
                    {% endif %}
                    </td>    
                <td>
                    <a href="{{lista[2]}}/mensalidade_consulta" class="btn btn-primary btn-xs">
                        <i class="bi bi-pencil"> Consultar</i>
                    </a>
                    <!-- Button trigger modal -->
                    <a href="{{lista[2]}}/pagamento_form" 
                        class="btn btn-success">
                            Pagamento
                    </a>
                    <a href="{{lista[2]}}/delete_mensalidade" class="btn btn-danger" onclick="return confirm('Deseja excluir essa mensalidade?')" >
                        <i class="bi bi-trash"> Excluir</i>
                    </a>
                </td>
            </tr>
        </tbody>
    {% endfor %}
</table>

{% block modal %}{% endblock modal %}

{% endblock conteudo %}

