{% extends 'base.html' %}
{% block conteudo %}
<h2 class="pt-3 text-center">Cadastro de Mensalidade</h2>
<hr>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class=flashes>
    <div class="alert alert-success text-center" role="alert">
        {% for message in messages %}
        <h4>{{ message }}</h4>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endwith %}

<div>
    <form action="{{url_for('page_mensalidade_form')}}" method='POST' class="form-control p-5">
        <div class="mb-3">
            <label class="fw-bold px-10" style="
            padding-right: 10px;">Tipo de Mensalidade:</label>
            <br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="tipo_mensalidade" value="{{eh_Mensal}}">
                <label class="form-check-label" for="inlineRadio1">Mensal</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="tipo_mensalidade" value="{{not(eh_Mensal)}}">
                <label class="form-check-label" for="inlineRadio2">Anual</label>
            </div>
        </div>
        <div class="mb-3">
            <label class="fw-bold" for="">Data Pagamento:</label>
            <input type="date" class="p-2 form-control" name="data_pagamento" placeholder="00/00/0000" required>
        </div>
        <div class="mb-3">
            <label class="fw-bold" for="">Data Vencimento:</label>
            <input type="date" class="p-2 form-control" name="data_vencimento" placeholder="00/00/0000" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">R$</span>
            <input type="text" id="money" class="p-2 form-control" name="valor_mensalidade" placeholder="0000" required>
            <span class="input-group-text">.00</span>
        </div>

        <div class="mb-3">
            <button class="btn btn-primary fw-bold">Adicionar</button>
        </div>
    </form>
</div>
{% endblock conteudo %}