<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('.static', filename='css/login_form_style.css')}}" rel="stylesheet" >

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>

    <title>Formulário</title>


</head>
<body>
    <h2 class="pt-3 text-center text-warning">Seja bem vindo, associe-se!</h2>
    <hr>
    
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert text-center alert-danger">
                {% for msg in messages %}
                    <b>
                        {{ msg }}
                    </b>    
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        <form action="{{url_for('page_login_form')}}" method='POST' class="form-control">
            <div class="m-5 mb-10">
                <div class="mb-3">
                    <label for="">Data atualização:</label>
                    <input type="date" class="p-2 form-control" name="data_atualizada" value="{{data_hoje}}" readonly>
                </div>
                <div class="mb-3">
                    <label for="">Data de cadastro:</label>
                    <input type="date" class="p-2 form-control" name="data_cadastro" placeholder="Data de cadastro" required>
                </div>
                <div class="mb-3">
                    <label for="">CPF:</label>
                    <input type="text" class="p-2 form-control" name="cpf" id="cpf" placeholder="000.000.000-00" required>
                </div>                
                <div class="mb-3">
                    <label for="">Senha do Acesso:</label>
                    <input type="password" class="p-2 form-control" name="password_login" placeholder="" required>
                </div>
                <div class="mb-3">
                    <label for="">Nome Completo:</label>
                    <input type="text" class="p-2 form-control" name="nome_completo" placeholder="Nome completo" required>
                </div>
                <div class="mb-3">
                    <label for="">E-mail:</label>
                    <input type="email" class="p-2 form-control" name="email" placeholder="E-mail" required>
                </div>
                <div class="mb-3">
                    <label for="">Data de nascimento:</label>
                    <input type="date" class="p-2 form-control" name="data_nascimento" placeholder="Data de nascimento" required>
                </div>
                <div class="mb-3">
                    <label for="">Endereço Completo:</label>
                    <input type="text" class="p-2 form-control" name="endereco" placeholder="" required>
                </div>
                <div class="row g-4 mb-3">
                    <div class="col-auto">
                        <label for="">UF:</label>
                        <select name="uf" class="form-select" required>
                            <!-- <option selected></option> -->
                            {% for lista_uf in unidade_federativa %}
                                <option value="{{lista_uf}}">{{lista_uf}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-8">
                        <label for="">Cidade:</label>
                        <select name="cidade" class="form-select" required>
                            <option selected></option>
                            {% for lista in cidades_pr %}
                                <option data-uf="PR" value="{{lista}}">{{lista}}</option>
                            {% endfor %}
                            {% for lista in cidades_sc %}
                                <option data-uf="SC" value="{{lista}}">{{lista}}</option>
                            {% endfor %}
                            {% for lista in cidades_rs %}
                                <option data-uf="RS" value="{{lista}}">{{lista}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- <div class="mb-3">
                    <label for="">UF:</label>
                    <input type="text" class="p-2 form-control" name="uf" placeholder="SC, PR..." required>
                </div> -->
                <div class="mb-3">
                    <label for="">Telefone/Celular:</label>
                    <input type="text" id="telefone" class="p-2 form-control" name="telefone" placeholder="(00) 0 0000-0000" required>
                </div>
                <div class="mb-3">
                    <label for="">Estado Civil:</label>
                    <select name="estado_civil" class="form-select">
                        <option selected></option>
                        {% for lista in estado_civil %}
                            <option value="{{lista.tipo}}">{{lista.tipo}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="">Como você se identifica?</label>
                    <select name="como_identifica" class="form-select">
                        <option selected></option>
                        {% for lista in identificacao %}
                            <option value="{{lista.tipo}}">{{lista.tipo}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="">Situação de trabalho:</label>
                    <input type="text" class="p-2 form-control" name="situacao_trabalho" placeholder="Situação de trabalho" required>
                </div>
                <div class="mb-3">
                    <label for="">Tipo sanguíneo:</label>
                    <select name="tipo_sanguineo" class="form-select">
                        <option selected></option>
                        {% for lista in tipos %}
                            <option value="{{lista.tipos}}">{{lista.tipos}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="">Quantidade de filhos: </label>
                    <input type="number" class="p-2 form-control" name="quantidades_filhos" placeholder="" required>
                </div>
                
                <div class="mb-3">
                    <button class="btn btn-success">Cadastrar</button>
                </div>
            </div>
        </form>
    </div>    
</body>

<script type="text/javascript" src="../../static/js/mask_input.js" rel="stylesheet" ></script>
<script type="text/javascript" src="../../static/js/select_cidade.js" rel="stylesheet" ></script>

</html>
    