<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('.static', filename='css/login_style.css')}}" rel="stylesheet" >
    <link href="{{url_for('.static', filename='js/jQuery-Mask/dist/jquery.mask.min.js')}}" rel="stylesheet" >
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    
    <title>ASBLU</title>
    

</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <!-- <div class="alert text-center alert-danger"> -->
        <div class=flashes>
            <!-- {% for msg in messages %} -->
            <b>{{ messages }}</b>  
            <br>  
            <!-- {% endfor %} -->
        </div>
        {% endif %}
        {% endwith %}
        <div>
            
            <form action="{{url_for('page_login_auth_forgot_password')}}" method='POST'>
                <div class="container postion-fixed area">
                    <div class="p-5 col-9 col-sm-6 bg-dark bg-gradient bg-opacity-75 position-absolute top-50 start-50 translate-middle" style="border: solid rgba(255, 255, 255, 0.329);">
                        <div>
                            <div class="form-floating mb-3 ">
                                <label for="floatingInput">CPF:</label>
                                <input type="text" class="form-control" name="cpf_login" id="cpf_login" placeholder="Sem pontos, exemplo: 56488744054" onkeypress="$(this).mask('000.000.000-00')" required>
                            </div>
                        </div>
                        
                        <div>
                            <div class="form-floating mb-3 ">
                                <input type="text" class="form-control" name="new_password_login" id="floatingInput" placeholder="10 caracteres" required>
                                <label for="floatingInput">Nova senha:</label>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col p-3 mt-3 text-center">
                                <button class="btn btn-success">
                                    <b>Alterar a senha</b>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        
    </div>
</body>
</html>    