body {
    background-image: url("../img/Slider-BG.png");
    background-repeat: initial;
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
}

body, html{
    height: 100%;
}
