body {
    background-image: url("../img/Slider-BG.png");
    background-repeat: initial;
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
}

body, html{
    height: 100%;
}


.area{
    padding-top: 12em;
}

.label{
    margin-right: 10px;
}

.label-cpf{
    margin-right: 28px;
}