{% extends 'base.html' %}
{% block conteudo %}
<h2 class="pt-3 text-center">Consulta de Associado</h2>
<hr>

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert text-center alert-success" role="alert">
        {% for msg in messages %}
            <h4> {{ msg }} </h4>    
        {% endfor %}
    </div>
    {% endif %}
{% endwith %}

<div>
    {% for _query_associados in _query_associados %}
    <form action="{{url_for('page_atualiza_associado', id = _query_associados.id)}}" method='POST' class="form-control p-5" >

        <div class="mb-3">
            {% for lista_status in _status_associado %}
                {% if _query_associados.id_status_associado == lista_status.id %}
                    <input type="text" class="p-2 form-control" name="status_associado" value="{{lista_status.status}}" disabled readonly>
                {% endif %}
            {% endfor %}
        </div>
        <div class="mb-3">
            <label for="">Data atualização:</label>
            <input type="date" class="p-2 form-control" name="data_atualizada" placeholder="x" value="{{_query_associados.data_atualizada}}" readonly>
        </div>
        <div class="mb-3">
            <label for="">Data de cadastro:</label>
            <input type="date" class="p-2 form-control" name="data_cadastro" placeholder="Data de cadastro" value="{{_query_associados.data_cadastro}}" readonly>
        </div>
        <div class="mb-3">
            <label for="">CPF:</label>
            <input type="text" id="cpf" class="p-2 form-control" name="cpf" placeholder="000.000.000-00" value="{{_query_associados.cpf}}">
        </div>
        <div class="mb-3">
            <label for="">Nome Completo:</label>
            <input type="text" class="p-2 form-control" name="nome_completo" placeholder="Nome completo" value="{{_query_associados.nome_completo}}" required>
        </div>
        <div class="mb-3">
            <label for="">E-mail:</label>
            <input type="email" class="p-2 form-control" name="email" placeholder="E-mail" value="{{_query_associados.email}}" required>
        </div>
        <div class="mb-3">
            <label for="">Data de nascimento:</label>
            <input type="date" class="p-2 form-control" name="data_nascimento" placeholder="Data de nascimento" value="{{_query_associados.data_nascimento}}" required>
        </div>
        <div class="mb-3">
            <label for="">Endereço completo:</label>
            <input type="text" class="p-2 form-control" name="endereco" placeholder="" value="{{_query_associados.endereco}}" required>
        </div>
        <div class="row g-4 mb-3">
            <div class="col-auto">
                <label for="">UF:</label>
                <select name="uf" class="form-select" required>
                    <!-- <option selected></option> -->
                    {% for lista_uf in unidade_federativa %}
                        {% if _query_associados.uf == lista_uf %}
                            <option selected value="{{lista_uf}}">{{lista_uf}}</option>
                        {% else %}
                            <option value="{{lista_uf}}">{{lista_uf}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-8">
                <label for="">Cidade:</label>
                <select name="cidade" class="form-select" required>
                    <!-- <option selected></option> -->
                    {% for cities_pr in cidades_pr %}
                        {% if _query_associados.cidade == cities_pr %}
                            <option selected data-uf="PR" value="{{cities_pr}}">{{cities_pr}}</option>
                        {% else %}
                            <option data-uf="PR" value="{{cities_pr}}">{{cities_pr}}</option>
                        {% endif %}
                    {% endfor %}
                    {% for cities_sc in cidades_sc %}
                        {% if _query_associados.cidade == cities_sc %}
                            <option selected data-uf="SC" value="{{cities_sc}}">{{cities_sc}}</option>
                        {% else %}
                            <option data-uf="SC" value="{{cities_sc}}">{{cities_sc}}</option>
                        {% endif %}
                    {% endfor %}
                    {% for cities_rs in cidades_rs %}
                        {% if _query_associados.cidade == cities_rs %}
                            <option selected data-uf="RS" value="{{cities_rs}}">{{cities_rs}}</option>
                        {% else %}
                            <option data-uf="RS" value="{{cities_rs}}">{{cities_rs}}</option>
                        {% endif %}
                    {% endfor %}
                    {% for cities_sp in cidades_sp %}
                        {% if _query_associados.cidade == cities_sp %}
                            <option selected data-uf="SP" value="{{cities_sp}}">{{cities_sp}}</option>
                        {% else %}
                            <option data-uf="SP" value="{{cities_sp}}">{{cities_sp}}</option>
                        {% endif %}
                    {% endfor %}
                    {% for cities_rj in cidades_rj %}
                        {% if _query_associados.cidade == cities_rj %}
                            <option selected data-uf="RJ" value="{{cities_rj}}">{{cities_rj}}</option>
                        {% else %}
                            <option data-uf="RJ" value="{{cities_rj}}">{{cities_rj}}</option>
                        {% endif %}
                    {% endfor %}
                    {% for cidades_es in cidades_es %}
                        {% if _query_associados.cidade == cidades_es %}
                            <option selected data-uf="ES" value="{{cidades_es}}">{{cidades_es}}</option>
                        {% else %}
                            <option data-uf="ES" value="{{cidades_es}}">{{cidades_es}}</option>
                        {% endif %}
                    {% endfor %}
                    {% for cidades_mg in cidades_mg %}
                        {% if _query_associados.cidade == cidades_mg %}
                            <option selected data-uf="MG" value="{{cidades_mg}}">{{cidades_mg}}</option>
                        {% else %}
                            <option data-uf="MG" value="{{cidades_mg}}">{{cidades_mg}}</option>
                        {% endif %}
                    {% endfor %}
                    {% for cidades_al in cidades_al %}
                        {% if _query_associados.cidade == cidades_al %}
                            <option selected data-uf="AL" value="{{cidades_al}}">{{cidades_al}}</option>
                        {% else %}
                            <option data-uf="AL" value="{{cidades_al}}">{{cidades_al}}</option>
                        {% endif %}
                    {% endfor %}
                    {% for cidades_ac in cidades_ac %}
                        {% if _query_associados.cidade == cidades_cl %}
                            <option selected data-uf="AC" value="{{cidades_ac}}">{{cidades_ac}}</option>
                        {% else %}
                            <option data-uf="AC" value="{{cidades_ac}}">{{cidades_ac}}</option>
                        {% endif %}
                    {% endfor %}
                    {% for cidades_ap in cidades_ap %}
                        {% if _query_associados.cidade == cidades_ap %}
                            <option selected data-uf="AP" value="{{cidades_ap}}">{{cidades_ap}}</option>
                        {% else %}
                            <option data-uf="AP" value="{{cidades_ap}}">{{cidades_ap}}</option>
                        {% endif %}
                    {% endfor %}
                    {% for cidades_am in cidades_am %}
                        {% if _query_associados.cidade == cidades_am %}
                            <option selected data-uf="AM" value="{{cidades_am}}">{{cidades_am}}</option>
                        {% else %}
                            <option data-uf="AM" value="{{cidades_am}}">{{cidades_am}}</option>
                        {% endif %}
                    {% endfor %}
                    {% for cidades_ba in cidades_ba %}
                        {% if _query_associados.cidade == cidades_ba %}
                            <option selected data-uf="BA" value="{{cidades_ba}}">{{cidades_ba}}</option>
                        {% else %}
                            <option data-uf="BA" value="{{cidades_ba}}">{{cidades_ba}}</option>
                        {% endif %}
                    {% endfor %}
                    {% for cidades_ce in cidades_ce %}
                        {% if _query_associados.cidade == cidades_ce %}
                            <option selected data-uf="CE" value="{{cidades_ce}}">{{cidades_ce}}</option>
                        {% else %}
                            <option data-uf="CE" value="{{cidades_ce}}">{{cidades_ce}}</option>
                        {% endif %}
                    {% endfor %}
                    {% for cidades_go in cidades_go %}
                        {% if _query_associados.cidade == cidades_go %}
                            <option selected data-uf="GO" value="{{cidades_go}}">{{cidades_go}}</option>
                        {% else %}
                            <option data-uf="GO" value="{{cidades_go}}">{{cidades_go}}</option>
                        {% endif %}
                    {% endfor %}
                    {% for cidades_ma in cidades_ma %}
                        {% if _query_associados.cidade == cidades_ma %}
                            <option selected data-uf="MA" value="{{cidades_ma}}">{{cidades_ma}}</option>
                        {% else %}
                            <option data-uf="MA" value="{{cidades_ma}}">{{cidades_ma}}</option>
                        {% endif %}
                    {% endfor %}
                    {% for cidades_ms in cidades_ms %}
                        {% if _query_associados.cidade == cidades_ms %}
                            <option selected data-uf="MS" value="{{cidades_ms}}">{{cidades_ms}}</option>
                        {% else %}
                            <option data-uf="MS" value="{{cidades_ms}}">{{cidades_ms}}</option>
                        {% endif %}
                    {% endfor %}
                    {% for cidades_mt in cidades_mt %}
                        {% if _query_associados.cidade == cidades_mt %}
                            <option selected data-uf="MT" value="{{cidades_mt}}">{{cidades_mt}}</option>
                        {% else %}
                            <option data-uf="MT" value="{{cidades_mt}}">{{cidades_mt}}</option>
                        {% endif %}
                    {% endfor %}
                    {% for cidades_pa in cidades_pa %}
                        {% if _query_associados.cidade == cidades_pa %}
                            <option selected data-uf="PA" value="{{cidades_pa}}">{{cidades_pa}}</option>
                        {% else %}
                            <option data-uf="PA" value="{{cidades_pa}}">{{cidades_pa}}</option>
                        {% endif %}
                    {% endfor %}
                    {% for cidades_pb in cidades_pb %}
                        {% if _query_associados.cidade == cidades_pb %}
                            <option selected data-uf="PB" value="{{cidades_pb}}">{{cidades_pb}}</option>
                        {% else %}
                            <option data-uf="PB" value="{{cidades_pb}}">{{cidades_pb}}</option>
                        {% endif %}
                    {% endfor %}
                    {% for cidades_pe in cidades_pe %}
                        {% if _query_associados.cidade == cidades_pe %}
                            <option selected data-uf="PE" value="{{cidades_pe}}">{{cidades_pe}}</option>
                        {% else %}
                            <option data-uf="PE" value="{{cidades_pe}}">{{cidades_pe}}</option>
                        {% endif %}
                    {% endfor %}
                    {% for cidades_pi in cidades_pi %}
                        {% if _query_associados.cidade == cidades_pi %}
                            <option selected data-uf="PI" value="{{cidades_pi}}">{{cidades_pi}}</option>
                        {% else %}
                            <option data-uf="PI" value="{{cidades_pi}}">{{cidades_pi}}</option>
                        {% endif %}
                    {% endfor %}
                    {% for cidades_rn in cidades_rn %}
                        {% if _query_associados.cidade == cidades_rn %}
                            <option selected data-uf="RN" value="{{cidades_rn}}">{{cidades_rn}}</option>
                        {% else %}
                            <option data-uf="RN" value="{{cidades_rn}}">{{cidades_rn}}</option>
                        {% endif %}
                    {% endfor %}
                    {% for cidades_ro in cidades_ro %}
                        {% if _query_associados.cidade == cidades_ro %}
                            <option selected data-uf="RO" value="{{cidades_ro}}">{{cidades_ro}}</option>
                        {% else %}
                            <option data-uf="RO" value="{{cidades_ro}}">{{cidades_ro}}</option>
                        {% endif %}
                    {% endfor %}
                    {% for cidades_rr in cidades_rr %}
                        {% if _query_associados.cidade == cidades_rr %}
                            <option selected data-uf="RR" value="{{cidades_rr}}">{{cidades_rr}}</option>
                        {% else %}
                            <option data-uf="RR" value="{{cidades_rr}}">{{cidades_rr}}</option>
                        {% endif %}
                    {% endfor %}
                    {% for cidades_se in cidades_se %}
                        {% if _query_associados.cidade == cidades_se %}
                            <option selected data-uf="SE" value="{{cidades_se}}">{{cidades_se}}</option>
                        {% else %}
                            <option data-uf="SE" value="{{cidades_se}}">{{cidades_se}}</option>
                        {% endif %}
                    {% endfor %}
                    {% for cidades_to in cidades_to %}
                        {% if _query_associados.cidade == cidades_to %}
                            <option selected data-uf="TO" value="{{cidades_to}}">{{cidades_to}}</option>
                        {% else %}
                            <option data-uf="TO" value="{{cidades_to}}">{{cidades_to}}</option>
                        {% endif %}
                    {% endfor %}
                    {% for cidades_df in cidades_df %}
                        {% if _query_associados.cidade == cidades_df %}
                            <option selected data-uf="DF" value="{{cidades_df}}">{{cidades_df}}</option>
                        {% else %}
                            <option data-uf="DF" value="{{cidades_df}}">{{cidades_df}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="mb-3">
            <label for="">Telefone/Celular:</label>
            <input type="text" id="telefone" class="p-2 form-control" name="telefone" placeholder="telefone" value="{{_query_associados.telefone}}" required>
        </div>

        <div class="mb-3">
            <label for="">Estado Civil:</label>
            <select name="estado_civil" class="form-select">
                {% for lista in estado_civil %}
                    {% if _query_associados.id_estado_civil == lista.id %}
                        <option selected value="{{lista.id}}">{{lista.tipo}} </option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="">Como você se identifica?</label>
            <select name="como_identifica" class="form-select">
                {% for lista in identificacao %}
                    {% if _query_associados.id_identificacao == lista.id %}
                        <option selected value="{{lista.id}}">{{lista.tipo}}</option>
                    {% else %}
                        <option value="{{lista.id}}">{{lista.tipo}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        
        <div class="mb-3">
            <label for="">Situação de trabalho:</label>
            <input type="text" class="p-2 form-control" name="situacao_trabalho" value="{{_query_associados.situacao_trabalho}}" required>
        </div>

        <div class="mb-3">
            <label for="">Tipo sanguíneo:</label>
            <select name="tipo_sanguineo" class="form-select">
                <option selected></option>
                {% for lista_sanguineos in tipos_sanguineos %}
                    {% if _query_associados.id_tipo_sanguineo == lista_sanguineos.id %}
                        <option selected value="{{lista_sanguineos.id}}">{{lista_sanguineos.tipos}}</option>
                    {% else %}
                        <option value="{{lista_sanguineos.id}}">{{lista_sanguineos.tipos}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="">Quantidade de filhos: </label>
            <input type="number" class="p-2 form-control" name="quantidades_filhos" value="{{_query_associados.quantidades_filhos}}" placeholder="" required>
        </div>
        
        <div class="mb-3">
            <button class="btn btn-success">Atualizar</button>
        </div>
    </form>
    {% endfor %}
</div>

{% endblock conteudo %}
    
    