{% extends 'base.html' %}
{% block conteudo %}
<h2 class="pt-3 text-center">Atualização de Associado</h2>
<hr>

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert text-center alert-danger" role="alert">
        {% for msg in messages %}
            <h4> {{ msg }} </h4>    
        {% endfor %}
    </div>
    {% endif %}
{% endwith %}

<div>
    {% for associado in _query_associados %}
    <form action="{{url_for('page_associado_atualiza', id = associado.id)}}" method='POST' class="form-control p-5" >

        <div class="mb-3">
            <label for="">Situação do Associado:</label>
            <select name="status_associado" class="form-select">
                {% for lista_status in _status_associado %}
                    {% if associado.id_status_associado == lista_status.id %}
                        <option selected value="{{lista_status.id}}">{{lista_status.status}}</option>
                    {% else %}
                    <option value="{{lista_status.id}}">{{lista_status.status}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="">Data atualização:</label>
            <input type="date" class="p-2 form-control" name="data_atualizada" placeholder="x" value="{{associado.data_atualizada}}" readonly>
        </div>
        <div class="mb-3">
            <label for="">Data de cadastro:</label>
            <input type="date" class="p-2 form-control" name="data_cadastro" placeholder="Data de cadastro" value="{{associado.data_cadastro}}" readonly>
        </div>
        <div class="mb-3">
            <label for="">CPF:</label>
            <input type="text" id="cpf" class="p-2 form-control" name="cpf" placeholder="000.000.000-00" value="{{associado.cpf}}">
        </div>
        <div class="mb-3">
            <label for="">Nome Completo:</label>
            <input type="text" class="p-2 form-control" name="nome_completo" placeholder="Nome completo" value="{{associado.nome_completo}}" required>
        </div>
        <div class="mb-3">
            <label for="">E-mail:</label>
            <input type="email" class="p-2 form-control" name="email" placeholder="E-mail" value="{{associado.email}}" required>
        </div>
        <div class="mb-3">
            <label for="">Data de nascimento:</label>
            <input type="date" class="p-2 form-control" name="data_nascimento" placeholder="Data de nascimento" value="{{associado.data_nascimento}}" required>
        </div>
        <div class="mb-3">
            <label for="">Endereço completo:</label>
            <input type="text" class="p-2 form-control" name="endereco" placeholder="" value="{{associado.endereco}}" required>
        </div>
        <div class="row g-4 mb-3">
            <div class="col-auto">
                <label for="">UF:</label>
                <select name="uf" class="form-select" required>
                    <!-- <option selected></option> -->
                    {% for lista_uf in unidade_federativa %}
                        {% if associado.uf == lista_uf %}
                            <option selected value="{{lista_uf}}">{{lista_uf}}</option>
                        {% else %}
                            <option value="{{lista_uf}}">{{lista_uf}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-8">
                <label for="">Cidade:</label>
                <select name="cidade" class="form-select" required>
                    <!-- <option selected></option> -->
                    {% for cities_pr in cidades_pr %}
                        {% if associado.cidade == cities_pr %}
                            <option selected data-uf="PR" value="{{cities_pr}}">{{cities_pr}}</option>
                        {% else %}
                            <option data-uf="PR" value="{{cities_pr}}">{{cities_pr}}</option>
                        {% endif %}
                    {% endfor %}
                    {% for cities_sc in cidades_sc %}
                        {% if associado.cidade == cities_sc %}
                            <option selected data-uf="SC" value="{{cities_sc}}">{{cities_sc}}</option>
                        {% else %}
                            <option data-uf="SC" value="{{cities_sc}}">{{cities_sc}}</option>
                        {% endif %}
                    {% endfor %}
                    {% for cities_rs in cidades_rs %}
                        {% if associado.cidade == cities_rs %}
                            <option selected data-uf="RS" value="{{cities_rs}}">{{cities_rs}}</option>
                        {% else %}
                            <option data-uf="RS" value="{{cities_rs}}">{{cities_rs}}</option>
                        {% endif %}
                    {% endfor %}
                    {% for cities_sp in cidades_sp %}
                        {% if associado.cidade == cities_sp %}
                            <option selected data-uf="SP" value="{{cities_sp}}">{{cities_sp}}</option>
                        {% else %}
                            <option data-uf="SP" value="{{cities_sp}}">{{cities_sp}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="mb-3">
            <label for="">Telefone/Celular:</label>
            <input type="text" id="telefone" class="p-2 form-control" name="telefone" placeholder="telefone" value="{{associado.telefone}}" required>
        </div>

        <div class="mb-3">
            <label for="">Estado Civil:</label>
            <select name="estado_civil" class="form-select">
                {% for lista in estado_civil %}
                    {% if associado.id_estado_civil == lista.id %}
                        <option selected value="{{lista.id}}">{{lista.tipo}} </option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="">Como você se identifica?</label>
            <select name="como_identifica" class="form-select">
                {% for lista in identificacao %}
                    {% if associado.id_identificacao == lista.id %}
                        <option selected value="{{lista.id}}">{{lista.tipo}}</option>
                    {% else %}
                        <option value="{{lista.id}}">{{lista.tipo}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        
        <div class="mb-3">
            <label for="">Situação de trabalho:</label>
            <input type="text" class="p-2 form-control" name="situacao_trabalho" value="{{associado.situacao_trabalho}}" required>
        </div>

        <div class="mb-3">
            <label for="">Tipo sanguíneo:</label>
            <select name="tipo_sanguineo" class="form-select">
                <option selected></option>
                {% for lista_sanguineos in tipos_sanguineos %}
                    {% if associado.id_tipo_sanguineo == lista_sanguineos.id %}
                        <option selected value="{{lista_sanguineos.id}}">{{lista_sanguineos.tipos}}</option>
                    {% else %}
                        <option value="{{lista_sanguineos.id}}">{{lista_sanguineos.tipos}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="">Quantidade de filhos: </label>
            <input type="number" class="p-2 form-control" name="quantidades_filhos" value="{{associado.quantidades_filhos}}" placeholder="" required>
        </div>
        
        <div class="mb-3">
            <button class="btn btn-success">Atualizar</button>
        </div>
    </form>
    {% endfor %}
</div>

{% endblock conteudo %}
    
    