{% extends 'base_admin.html' %}
{% block conteudo %}
<h2 class="pt-3 text-center">Lista de Associados</h2>
<hr>

<table class="table table-bordered table-hover">
    <thead class="table-secondary">
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    {% for lista in lista_associados %}
        <tbody class="table-hover">
            <tr>
                <th>{{lista.id}}</th>
                <td>{{lista.nome_completo}}</td>
                <td>
                    <a href="/{{lista[0]}}/associado_atualiza_admin" class="btn btn-warning btn-xs">
                        <i class="bi bi-pencil"> Editar</i>
                    </a>
                </td>
            </tr>
        </tbody>
    {% endfor %}
</table>


{% endblock conteudo %}

