<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
    
    <title>Associado</title>

</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
              <a class="navbar-brand" >Associado</a>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{url_for('page_principal_associado', id = id_associado)}}">Início</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('page_atualiza_associado', id = id_associado)}}">Cadastro</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Mensalidade
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{{url_for('page_mensalidade_lista_associado', id = id_associado)}}">Consulta</a></li>
                    </a>
                    </ul>
                  </li>
                </a>
              </div>
              <div class="">
                <a href="{{url_for('logout_associado')}}" class="btn btn-danger">
                  <b class="bi bi-box-arrow-right"> Sair</b>
                </a>
              </div>

              
            </div>
        </nav>
    </div>

    <div class="pt-5 container">
        {% block conteudo %}
        {% endblock conteudo %}
        <script type="text/javascript" src="../../static/js/mask_input.js" rel="stylesheet" ></script>
        <script type="text/javascript" src="../../static/js/select_cidade.js" rel="stylesheet" ></script>
    </div>

    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <span class="text-muted">Desenvolvido por <i>Junior Matiello</i></span>
        </div>
      </footer>
    </div>
</body>
</html>