{% extends 'base.html' %}
{% block conteudo %}
<h2 class="pt-3 text-center">Cadastro de Mensalidade</h2>
<hr>

<div>

    <form action="{{url_for('page_financeiro_form')}}" method='POST' class="form-control p-5" >
        <div class="mb-3">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Mensal</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">Anual</label>
            </div>
        </div>
        <div class="mb-3">
            <label for="">Data Pagamento:</label>
            <input type="text" class="p-2 form-control" name="data_pagamento" value="" required>
        </div>
        <div class="mb-3">
            <label for="">????</label>
            <input type="text" class="p-2 form-control" name="data_vencimento" value="" required>
        </div>
        <div class="mb-3">
            <label for="">Valor da Mensalidade: </label>
            <input class="p-2 form-control" name="valor_mensalidade" value="" required>
        </div>
        <div class="mb-3">
            <label for="">Data Vencimento:</label>
            <input type="text" class="p-2 form-control" name="data_vencimento" value="" required>
        </div>
        
    </form>
</div>
{% endblock conteudo %}
    
    